.group-stage-fixtures {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 100vw;
    max-width: 1000px;
    padding: 0 20px;
}

.fixture-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}