.group-log {
  margin: 8px 0;
  border-radius: 8px;
  border-top: 4px solid var(--primary);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
  width: calc(50% - 16px);
}

.group-log h2 {
  text-align: right;
  margin: 0;
  padding: 8px 16px;
}

.group-log table {
  width: 100%;
  border-collapse: collapse;
}

.group-log th {
  background-color: var(--primary);
  color: var(--white);
  padding: 8px;
  text-align: center;
}

.group-log td {
  padding: 8px;
  text-align: center;
}

.group-log tbody tr:nth-child(odd) td {
  background: var(--light-background);
}
