.nav-bar {
  position: fixed;
  top: 0;
  height: 48px;
  width: 100vw;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: lighter;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,.2);
}
.nav-bar .centre {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-bar img {
  width: 2rem;
  height: 2rem;
}