.points-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
  border-top: 2px solid var(--dark-background);
}

.points-result > div {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  width: calc(50% - 16px);
}

.points-result > :last-child {
  text-align: right;
}