body {
  --primary: #2d3cff;
  --dark-background: #19194b;
  --white: #fff;
  --subtle: #999;

  margin: 0;

  color: var(--dark-background);

  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  padding-top: 64px;
}

ul,
li {
  margin: none;
  list-style: none;
}

input[type="text"] {
  padding: 8px;
}

label {
  padding: 8px 0;
}